<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="node_modules/gutenberg-css/dist/gutenberg.min.css">
    </head>
    <body>
        <h1>Reisekostenabrechnung Inland</h1>
        <dl>
            <dt>Beleg Nr.</dt>
            <dd>{{ expense.id }}</dd>
            <dt>Datum</dt>
            <dd>{{ expense.created }}</dd>
            <dt>Monat</dt>
            <dd>{{ value }}</dd>
        </dl>

        <h2>Mitarbeiter</h2>
        <dl>
            <dt>Pers. Nr</dt>
            <dd>{{ expense.employee.id }}</dd>
            <dt>Vor- und Nachname</dt>
            <dd>{{ expense.employee.name }}</dd>
            <dt>Wohnort</dt>
            <dd>
                {{ expense.employee.address.street }} {{ expense.employee.address.houseNumber }},
                {{ expense.employee.address.zipCode }} {{ expense.employee.address.city }}
            </dd>
        </dl>
        <h3>Bankverbindung</h3>
        <dl>
            <dt>Bankname</dt>
            <dd>{{ expense.employee.bankAccount.bankName }}</dd>
            <dt>IBAN</dt>
            <dd>{{ expense.employee.bankAccount.iban }}</dd>
            <dt>BIC</dt>
            <dd>{{ expense.employee.bankAccount.bic }}</dd>
        </dl>

        <h2>Angaben zur Reise</h2>

        <h3>Projekt</h3>
        <dl>
            <dt>Besuchte Stellen</dt>
            <dd>{{ expense.occasion.company }}, {{ expense.occasion.location.city }}</dd>
            <dt>Begründung</dt>
            <dd>{{ expense.occasion.name }}: {{ expense.occasion.description }}</dd>
        </dl>
        <br/>

        <h2>[A] Fahrtkosten</h2>
        {{#each expense.routes}}
        <dl>
            <dt>Start</dt>
            <dd>{{ from }}, {{ start }}</dd>
            <dt>Ankunft</dt>
            <dd>{{ to }}, {{ end }}</dd>
            <dt>Benutztes Verkehrsmittel</dt>
            <dd>{{ transportation }}</dd>
            <dt>Fahrtkosten</dt>
            <dd>{{ totalCost.netCost }} Euro</dd>
        </dl>
        {{/each}}
        <br/>

        <h2>[B] Vepflegungskosten Pauschale</h2>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Tage</th>
                    <th>gesetzl. Sätze</th>
                    <th>Betrag</th>
                </tr>
            </thead>
            <tbody>
                {{#each expense.costs}}
                {{#equals type "Catering_WorkDay"}}
                <tr>
                    <td>{{ unitCost.name }}</td>
                    <td>{{ unitCount }}</td>
                    <td>{{ unitCost.value }} {{ unitCost.unit.name}}</td>
                    <td>{{#multiply unitCount unitCost.value }}{{/multiply}} {{ unitCost.unit.name}}</td>
                </tr>
                {{/equals}}
                {{#equals type "Catering_FullDay"}}
                <tr>
                    <td>{{ unitCost.name }}</td>
                    <td>{{ unitCount }}</td>
                    <td>{{ unitCost.value }} {{ unitCost.unit.name}}</td>
                    <td>{{#multiply unitCount unitCost.value }}{{/multiply}} {{ unitCost.unit.name}}</td>
                </tr>
                {{/equals}}
                {{#equals type "Catering_WithholdingBreakfast"}}
                <tr>
                    <td>{{ unitCost.name }}</td>
                    <td>{{ unitCount }}</td>
                    <td>{{ unitCost.value }} {{ unitCost.unit.name}}</td>
                    <td>{{#multiply unitCount unitCost.value }}{{/multiply}} {{ unitCost.unit.name}}</td>
                </tr>
                {{/equals}}
                {{/each}}
            </tbody>
        </table>
        <br/>

        <h2>[C] Übernachtungskosten</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Betrag</th>
                </tr>
            </thead>
            <tbody>
                {{#each expense.costs}}
                {{#equals type "Accomodation_Total"}}
                <tr>
                    <td>Einzelnachweis</td>
                    <td>{{ netCost }} Euro</td>
                </tr>
                {{/equals}}
                {{/each}}
            </tbody>
        </table>
        <br/>

        <h2>[D] Sachbezugswert</h2>
        - keine -
        <br/><br/>

        <h2>[E] Einzelbelege Bewirtung (mit Fremden)</h2>
        - keine -
        <br/><br/>

        <h2>Auszuzahlender Betrag</h2>
        0
        <br/><br/>

        <h3>Für die Richtigkeit</h3>
        <!-- TODO: add signature
        <img src="signature.png" width="123" height="102" />
        -->
        ____________________
        Datum, Unterschrift
    </body>
</html>